.categories-list {
  max-width: 600px;
  padding: 30px 150px;
  background: #fff;
  border-right: 1px solid #9b9b9b;
  user-select: none;
}
h2 {
  font-family: Roboto;
  text-transform: capitalize;
}
.page-content {
  gap: 32px;
}
.details-page__description {
  gap: 16px;
}
.details-page__longtext {
  gap: 32px;
  max-width: 450px;
  padding: 8px 16px;
  background: #fff;
}
.details-page__image {
  width: 450px;
  max-width: 100%;
  padding: 32px;
  background: #fff;
}
.wishlist-button {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #333;
  text-align: center;
  background: #ddd;
  &:hover {
    color: #04518a;
  }
}
.my-wishlist {
  color: #04518a;
  text-decoration: none;
  padding: 8px 16px;
}
.wishlist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  display: flex;
  gap: 16px;
  > div {
    gap: 16px;
  }
  img {
    height: 40px;
    width: 40px;
  }
}
.wishlist {
  max-width: 500px;
  background: #fff;
  padding: 20px;
}
.wishlist-remove__button {
  background: none;
  border: none;
  color: #bd5050;
  font-size: 12px;
  cursor: pointer;
  &:hover {
    color: #820505;
  }
}
.home-page {
  gap: 32px;
}

$categories-font: (
  "1": "PT Mono",
  "2": Sevillana,
  "3": "Source Code Pro",
  "4": Roboto,
);
@each $category, $font in $categories-font {
  .category-#{$category} {
    font-family: $font;
  }
}
